<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une catégorie</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="create-category-page">
            <nav class="navbar">
            <div class="onglets">
                <a href="/">Accueil</a>
                <a href="/list_category">Catégories</a>
        
                {{if .IsConnected}}

                    {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                        <a href="/post">Créer un post</a>
                    {{end}}

                    {{if eq .User.Role "admin"}}
                        <a href="/report">Posts Signalés</a>
                    {{end}}
                {{end}}
            </div>
            <div class="login-register">
                {{if .IsConnected}}
                    <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
                {{else}}
                    <a href="/login"><button class="login_button_index">Connexion</button></a>
                    <a href="/register"><button class="register_button_index">Créer un compte</button></a>
                {{end}}
            </div>
        </nav>
    <h1>Créer une catégorie</h1>
    <form action="/category" method="post">
        <label for="name">Nom de la catégorie:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Description de la catégorie:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Créer">
    </form>
</body>
</html>
