<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="index-page">
    <section class="page">
        <!-- Top bar -->
        <nav class="navbar">
            <div class="onglets">
                <a href="/list_category">Catégories</a>

                {{if .IsConnected}}
                    {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                        <a href="/category">Créer une categorie</a>
                    {{end}}

                    {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                        <a href="/post">Créer un post</a>
                    {{end}}

                    {{if eq .User.Role "admin"}}
                        <a href="/report">Posts Signalés</a>
                    {{end}}
                {{end}}
            </div>
            <div class="login-register">
                {{if .IsConnected}}
                    <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
                {{else}}
                    <a href="/login"><button class="login_button_index">Login</button></a>
                    <a href="/register"><button class="register_button_index">Register</button></a>
                {{end}}
            </div>
        </nav>
        <!-- End Top bar -->
        <h1>Forum Jeux Vidéo !</h1>
        <h2>{{ .PageName }}</h2>

        <div class="image_promo">
            <h3>Achetez vos jeux moins chère !</h3>
            <h4>Promotions Steam :</h4>
            <a href="https://store.steampowered.com/specials#tab=TopSellers" target="_blank"><img src="/src/image/Soldes_steam.jpg" alt="Image"></a>
            <h4>Instant Gaming :</h4>
            <a href="https://www.instant-gaming.com/fr/" target="_blank"><img src="/src/image/instantGaming.jpg" alt="Image"></a>
        </div>

        <div class="image_new">
            <h3>Les dernières nouveautés !</h3>
            <h4>Steam :</h4>
            <a href="https://store.steampowered.com/explore/new/" target="_blank"><img src="/src/image/Steam_new.jpg" alt="Image"></a>
            <h4>Playstation :</h4>
            <a href="https://store.playstation.com/fr-fr/pages/latest" target="_blank"><img src="/src/image/PlaystationStore.jpg" alt="Image"></a>
        </div>

    </section>  
</body>
</html>
