<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catégories</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="list-categories-page">
    <nav class="navbar">
        <div class="onglets">
            <a href="/">Accueil</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") }}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Login</button></a>
                <a href="/register"><button class="register_button_index">Register</button></a>
            {{end}}
        </div>
    </nav>
    <div class="list-categories">
        <h1>Voici les Catégories présentes sur le site !</h1>
        {{range .Categories}}
            <div class="category-item">
                <a href="/category?id={{.ID}}" class="category-link">
                    <button class="button-categories" id="{{.ID}}">{{.Name}}</button>
                    <p class="category-description">{{.Description}}</p>
                
                <form method="post" action="/list_category" class="delete-form">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="hidden" name="action" value="delete">
                    {{if $.IsConnected}}
                        {{if or (eq $.User.Role "admin") (eq $.User.Role "moderator")}}
                            <button type="submit" class="delete-button">Supprimer</button>
                        {{end}}
                    {{end}}
                </form>
                </a>
            </div>
        {{end}}
    </div>
</body>
</html>
