<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des posts de {{.NameCategory}}</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="list-post-page">
    <nav class="navbar">
        <div class="onglets">
            <a href="/">Accueil</a>
            <a href="/list_category">Catégories</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Connexion</button></a>
                <a href="/register"><button class="register_button_index">Créer un compte</button></a>
            {{end}}
        </div>
    </nav>
    <div class="grid-posts">
        <h1>Voici les Posts de {{.NameCategory}}</h1>
        <div class="posts-grid">
            {{range .Posts}}
                <a href="/post?id={{.ID}}" class="grid-post-link">
                    <div class="grid-post">
                        <h2>{{.Title}}</h2>
                        <p><strong>Utilisateur:</strong> {{.User}}</p>
                        <p>{{.Text}}</p>
                        {{if .ImageURL}}
                            <img src="{{.ImageURL}}" alt="">
                        {{end}}
                    </div>
                </a>
            {{end}}
        </div>
    </div>
</body>
</html>
