<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catégories</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="list-categories-page">
    <div class="list-categories">
        <h1>Voici les Catégories présentes sur le site !</h1>
        {{range .Categories}}
            <div class="category-item">
                <a href="/category?id={{.ID}}" class="category-link">
                    <button class="button-categories" id="{{.ID}}">{{.Name}}</button>
                    <p class="category-description">{{.Description}}</p>
                
                <form method="post" action="/list_category" class="delete-form">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <input type="hidden" name="action" value="delete">
                    {{if $.IsConnected}}
                        {{if or (eq $.User.Role "admin") (eq $.User.Role "moderator")}}
                            <button type="submit" class="delete-button">Supprimer</button>
                        {{end}}
                    {{end}}
                </form>
                </a>
            </div>
        {{end}}
    </div>
</body>
</html>
