<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="panel-admin-page">
    <nav class="navbar">
        <div class="onglets">
            <a href="/">Accueil</a>
            <a href="/list_category">Catégories</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Connexion</button></a>
                <a href="/register"><button class="register_button_index">Créer un compte</button></a>
            {{end}}
        </div>
    </nav>
    <!-- If the user is an Admin he can see this page to change user role -->
    {{if eq .User.Role "admin"}}
    <h1>Changement de Rôles</h1>
        {{range .ListUser}}
        <form action="/panel_admin" method="POST">
            <input type="hidden" name="username" value="{{.Username}}">
            <button class="modify-role-button" type="submit" name="action" value="modify_role">{{.Username}} est {{.Role}}</button>
        </form>
        {{end}}
    {{else}}
        <h1>Vous n'étes pas un administrateur</h1>
    {{end}}
</body>
</html>