<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Post.Title}}</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="post-detail-page">
    <nav class="navbar">
        <div class="onglets">
            <a href="/">Accueil</a>
            <a href="/list_category">Catégories</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Connexion</button></a>
                <a href="/register"><button class="register_button_index">Créer un compte</button></a>
            {{end}}
        </div>
    </nav>
    <div class="post-detail">
        <h2>{{.Post.Title}}</h2>
        <h3>Post de : <a href="/user_posts?username={{.Post.User}}"><button class="user-post-button">{{.Post.User}}</button></a></h3>
        <p>{{.Post.Text}}</p>
        {{if .Post.ImageURL}}
            <img src="{{.Post.ImageURL}}" alt="Image">
        {{end}}
        <div class="post-stats">
            <div class="likes-dislikes">
                <p>{{.Likes}}</p>
                <form method="post" action="/post" class="like-dislike-form">
                    <input type="hidden" name="id" value="{{.Post.ID}}">
                    <input type="hidden" name="action" value="like">
                    <button type="submit" class="like-dislike-button">Like</button>
                </form>
                <p>{{.Dislikes}}</p>
                <form method="post" action="/post" class="like-dislike-form">
                    <input type="hidden" name="id" value="{{.Post.ID}}">
                    <input type="hidden" name="action" value="dislike">
                    <button type="submit" class="like-dislike-button">Dislike</button>
                </form>
            </div>
            {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                <div class="post-actions">
                    <form method="post" action="/post">
                        <input type="hidden" name="id" value="{{.Post.ID}}">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" class="action-button">Supprimer</button>
                    </form>
                    <form method="post" action="/post">
                        <input type="hidden" name="id" value="{{.Post.ID}}">
                        <input type="hidden" name="action" value="report">
                        <button type="submit" class="action-button">Signaler</button>
                    </form>
                </div>
            {{end}}
        </div>

        <div class="comments">
            {{if .Comments}}
                <h3>Commentaires</h3>
                {{range .Comments}}
                    <div class="comment">
                        <h4>{{.User}}</h4>
                        <p>{{.Text}}</p>
                        {{if or (eq $.User.Role "admin") (eq $.User.Role "moderator")}}
                            <form method="post" action="/post">
                                <input type="hidden" name="id" value="{{.ID}}">
                                <input type="hidden" name="action" value="deletecomment">
                                <button type="submit" class="action-button">Supprimer</button>
                            </form>
                        {{end}}
                    </div>
                {{end}}
            {{end}}

            {{if $.IsConnected}}
                <div class="comment-form">
                    <h3>Ajouter un commentaire</h3>
                    <form action="/post?id={{.Post.ID}}" method="post">
                        <input type="hidden" name="action" value="comment">
                        <div>
                            <textarea id="comment" name="comment" rows="4" required></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Répondre" class="submit-button">
                        </div>
                    </form>
                </div>
            {{end}}
        </div>
    </div>
</body>
</html>
