<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="post-detail-page">
    <div class="post-detail">
        <h2>{{.Title}}</h2>
        <h3>Post de : {{.User}}</h3>
        <p>{{.Text}}</p>
        {{if .ImageURL}}
            <img src="{{.ImageURL}}" alt="Image">
        {{end}}
    </div>

    <div class="comments">
        <h3>Commentaires</h3>
        {{range .Comments}}
            <div class="comment">
                <h4>{{.User}}</h4>
                <p>{{.Text}}</p>
            </div>
        {{end}}

        <div class="comment-form">
            <h3>Ajouter un commentaire</h3>
            <form action="/submit_comment" method="POST">
                <input type="hidden" name="postId" value="{{.PostID}}">
                <div>
                    <label for="username">Nom:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="comment">Commentaire:</label>
                    <textarea id="comment" name="comment" rows="4" required></textarea>
                </div>
                <div>
                    <button type="submit">Soumettre</button>
                </div>
            </form>
        </div>
</body>
</html>
