<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="profile-page">
    <nav class="navbar">
        <div class="onglets">
            <a href="/">Accueil</a>
            <a href="/list_category">Catégories</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Login</button></a>
                <a href="/register"><button class="register_button_index">Register</button></a>
            {{end}}
        </div>
    </nav>
    <div class="profile_content">
        <h1>Vous êtes connecté {{.User.Username}}</h1>
        <h2>Votre email : {{.User.Email}}</h2>

        <!-- Part to modify data -->
        <div class="modify_profile">
            <form action="/profile" method="POST">
                <h3>Modification d'informations :</h3>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <input class="modify_button" type="submit" name="action" value="Modifier votre pseudo">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br>
                <input class="modify_button" type="submit" name="action" value="Modifier votre email">
            </form>
        </div>

        <!-- Button to the the post from the connected user -->
        <a href="/user_posts?username={{.User.Username}}"><button class="user_post_button">Mes posts</button></a>

        <!-- If the user is an admin he can go to the admin panel -->
        {{if eq .User.Role "admin"}}
            <a href="/panel_admin"><button class="panel_admin">Administration</button></a>
        {{end}}

        <!-- Button to disconnect -->
        <form action ="/profile" method="POST">
            <button class ="logout-button" type="submit" name="action" value="logout">Déconnexion</button>
        </form>
    </div>
</body>
</html>
