<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Signalés</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body class="post-detail-page">
    <div class="post-detail">
        <h1>Posts Signalés</h1>
        {{if .Posts}}
            <ul>
                {{range .Posts}}
                    <li>
                        <h2>{{.Title}}</h2>
                        <p>Par : {{.User}}</p>
                        <p>{{.Text}}</p>
                        {{if .ImageURL}}
                            <img src="{{.ImageURL}}" alt="Image">
                        {{end}}
                    </li>
                {{end}}
            </ul>
        {{else}}
            <p>Aucun post signalé.</p>
        {{end}}
    </div>
</body>
</html>
