<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Posts</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>

<body class="user-posts-page">
        <nav class="navbar">
        <div class="onglets">
            <a href="/">Acueil</a>
            <a href="/list_category">Catégories</a>

            {{if .IsConnected}}
                {{if or (eq .User.Role "admin") (eq .User.Role "moderator")}}
                    <a href="/category">Créer une categorie</a>
                {{end}}

                {{if or (eq .User.Role "admin") (eq .User.Role "moderator") (eq .User.Role "user")}}
                    <a href="/post">Créer un post</a>
                {{end}}

                {{if eq .User.Role "admin"}}
                    <a href="/report">Posts Signalés</a>
                {{end}}
            {{end}}
        </div>
        <div class="login-register">
            {{if .IsConnected}}
                <a href="/profile"><button class="profile_button_index">{{.User.Username}}</button></a>
            {{else}}
                <a href="/login"><button class="login_button_index">Login</button></a>
                <a href="/register"><button class="register_button_index">Register</button></a>
            {{end}}
        </div>
    </nav>
    <div class="user_posts_content">
        <!-- Post of the selected user -->
        <h1>Posts de : {{.User.Username}}</h1>
        {{range .Posts}}
            <a href="/post?id={{.ID}}" class="post-link">
                <div class="post">
                    <h2>{{.Title}}</h2>
                </div>
            </a>
        {{end}}

        <!-- Post like by the selected user -->
        <h1>Les likes de : {{.User.Username}}</h1>
        {{range .ListPostLike}}
            <a href="/post?id={{.ID}}" class="post-link">
                <div class="post">
                    <h2>{{.Title}}</h2>
                </div>
            </a>
        {{end}}
    </div>
</body>
</html>