@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
    background-color: #141414;
    padding: 0;
    margin: 0;
    color: #fff;
}

body .page {
    margin: 20px 80px;
}

nav{
    display: flex;
    flex-wrap: wrap; /* passer a la ligne */ 
    justify-content: space-between; /* ecart onglets / buttons */ 
    position: sticky;  /* Barre du haut reste fixe */
    top: 0;
    background-color: #141414;
    padding: 10px 0px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

nav .Login_Register button{
    padding: 13px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

nav .Login_Register .login_button{
    background-color: inherit;
    margin-right: 10px;
    color: #8f8f8f;
}

nav .Login_Register .register_button{
    background-color: crimson;
    margin-right: 10px;
    color: #fff;
}

.register_page {
    margin: 50px auto;
    width: 50%;
    padding: 100px;
}

.register_page input {
    margin-bottom: 20px;
}

.register_page .register_button {
    padding: 13px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: crimson;
    margin-right: 10px;
    color: #fff;
}

.login_page {
    margin: 50px auto;
    width: 50%;
    padding: 100px;
}

.login_page input {
    margin-bottom: 20px;
}

.login_page .login_button {
    padding: 13px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: crimson;
    margin-right: 10px;
    color: #fff;
}

.list_categories {
    margin: 50px auto;
    width: 50%;
    padding: 100px;
}

.list_categories .button_categories {
    padding: 13px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    background-color: crimson;
    margin-right: 10px;
    color: #fff;
}

/*create post */

.create-post-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.create-post-page h1 {
    text-align: center;
}

.create-post-page form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.create-post-page label {
    font-weight: bold;
    color: #fff;
}

.create-post-page input[type="text"],
.create-post-page select,
.create-post-page textarea,
.create-post-page input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.create-post-page input[type="submit"] {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-post-page input[type="submit"]:hover {
    background-color: #b61031;
}
