@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

/* index */
.index-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.navbar .onglets a,
.navbar .login_button_index a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.navbar .login-register_index {
    display: flex;
}

.navbar .login_button_index {
    background-color: inherit;
    color: #8f8f8f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;

}
.navbar .login_button_index:hover {
    background-color: #5a5a5a;
}

.navbar .register_button_index {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}


.navbar .register_button_index:hover {
    background-color: #b61031;
}

.navbar .profile_button_index {
    background-color: inherit;
    color: #8f8f8f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;

}
.navbar .login_button_index:hover {
    background-color: #5a5a5a;
}

.index-page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.index-page h2 {
    text-align: center;
}

.index-page h3 {
    margin-top: 25px;
}

.image_promo {
    width: 310px;
    height: auto;
}

.image_promo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/*create post */

.create-post-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.create-post-page h1 {
    text-align: center;
}

.create-post-page form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.create-post-page label {
    font-weight: bold;
    color: #fff;
}

.create-post-page input[type="text"],
.create-post-page select,
.create-post-page textarea,
.create-post-page input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.create-post-page input[type="submit"] {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-post-page input[type="submit"]:hover {
    background-color: #b61031;
}

/* Category */
.create-category-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.create-category-page h1 {
    text-align: center;
}

.create-category-page form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.create-category-page label {
    font-weight: bold;
    color: #fff;
}

.create-category-page input[type="text"],
.create-category-page textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.create-category-page input[type="submit"] {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-category-page input[type="submit"]:hover {
    background-color: #b61031;
}

/* list category */
.list-categories-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.list_categories h1 {
    text-align: center;
    margin-bottom: 20px;
}

.button_categories {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.button_categories:hover {
    background-color: crimson;
}

/* Login */
.login-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.login_page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.login_page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login_page label {
    font-weight: bold;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.login_page input[type="text"],
.login_page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.login_button {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.login_button:hover {
    background-color: #b61031;
}

/* Register  */
.register-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.register_page {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.register_page h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register_page label {
    font-weight: bold;
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

.register_page input[type="text"],
.register_page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.register_button {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.register_button:hover {
    background-color: #b61031;
}
/* profil */
.profile-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.profile_content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.profile_content h1,
.profile_content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile_content .logout-button {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 32px;
}

.profile_content .logout-button:hover {
    background-color: #b61031;
}

.profile_content .user_post_button {
    background-color: rgb(52, 52, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    
    margin-top: 60px;
}

.profile_content .user_post_button:hover {
    background-color: rgb(52,52,200);
}

.profile_content .modify_profile label{
    font-weight: bold;
    color: #fff;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.profile_content .modify_profile input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fff;
}

.profile_content .modify_profile .modify_button {
    background-color: rgb(52, 52, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.profile_content .modify_profile .modify_button:hover {
    background-color: rgb(52,52,200);
}

.profile_content .acceuil_button_profile {
    background-color: rgb(52, 52, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 32px;
}

.profile_content .acceuil_button_profile:hover {
    background-color: rgb(52,52,200);
}

.profile_content .panel_admin {
    background-color: rgb(52, 160, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 32px;
}

.profile_content .panel_admin:hover {
    background-color: rgb(52,160,200);
}

/* Liste des posts */
.list-post-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
    font-family: 'YourCustomFont', sans-serif;
}

.list_post h1 {
    text-align: center;
    margin-bottom: 20px;
}

.post-link {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.post-link .post {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-link .post:hover {
    background-color: crimson;
}

.post-link .post h2 {
    margin-top: 0;
}

.post-link .post p {
    margin: 10px 0;
}

.post-link .post img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 25px;
    display: block;
    margin: 20px auto;
}

/* Détail du post */
.post-detail-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
    font-family: 'YourCustomFont', sans-serif;
}

.post-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
    margin-bottom: 40px;
}

.post-detail h2 {
    text-align: center;
    margin-bottom: 10px;
}

.post-detail h3 {
    text-align: center;
    margin-bottom: 20px;
}

.post-detail p {
    margin: 20px 0;
}

.post-detail img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.post-detail .user_post_button {
    background-color: inherit;
    color: #f8f2f2;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
}

.post-detail .user_post_button:hover {
    color: #9c9c9c;
}

/* Post page */
.comments {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1f1f1f;
}

.comments h3 {
    text-align: center;
    margin-bottom: 20px;
}

.comment {
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 10px;
}

.comment h4 {
    margin: 0;
    margin-bottom: 5px;
}

.comment p {
    margin: 0;
}

.comment-form {
    margin-top: 20px;
}

.comment-form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #1f1f1f;
    color: #fff;
    margin-bottom: 10px;
}

.comment-form input[type="submit"] {
    background-color: crimson;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form input[type="submit"]:hover {
    background-color: #b61031;
}

/* Panel Admin Page */

.panel-admin-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
}

.panel-admin-page .modify-role-button {
    background-color: rgb(52, 52, 255);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 32px;
}

.panel-admin-page .modify-role-button:hover {
    background-color: rgb(52,52,200);
}

/* User post page */

.user-posts-page {
    background-color: #141414;
    color: #fff;
    padding: 20px 80px;
    font-family: 'YourCustomFont', sans-serif;
}

.user-posts-page .user_posts_content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-posts-page .user_posts_content h2 {
    margin-top: 0;
}

.user-posts-page .user_posts_content p {
    margin: 10px 0;
}

.user-posts-page .user_posts_content img {
    max-width: 25%;
    max-height: 25%;
    border-radius: 25px;
    display: block;
    margin: 20px auto;
}
